<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <h1>User Profile</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/auth/logout">Logout</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="profile-info">
            <h2>Welcome, <%= user.name %>
            </h2>
            <img src="<%= user.avatar %>" alt="Profile Picture" class="profile-picture">
        </section>

    </main>
    <footer>
        <p>© 2023 Your Website Name. All rights reserved.</p>
    </footer>
</body>

</html>